// header styles

.website-info {
  background: black;
  padding: 3px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: -webkit-fill-available;
  left: 0;
  margin: 0;
  display: block;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-text {
  font-size: 12px;
  animation: marquee 30s linear infinite;
  color: #fff;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    display: block;
  }
  display: inline-block;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.marquee-container:hover .marquee-text {
  animation-play-state: paused;
}

.header-info {
  padding: 10px 0px;
  /*background-color: $theme-light-black;*/
  background-color: black;
  color: #fff;

  .fa,
  span {
    font-size: $font-size-medium !important;
    font-weight: $font-weight-normal;
    margin: 0px 5px;
    color: #fff;
  }
}

.header {
  background-color: $theme-light-pink;

  .logo {
    @include media-breakpoint-up(md) {
      font-size: 27px !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 35px !important;
    }
    /*font-size: $font-size-heading-large !important;*/
    font-size: 35px !important;
    font-weight: $font-weight-normal;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  height: fit-content;
}

.fixed-mobile-header {
  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    padding: 0px 20px;
  }
}

.top-header {
  // margin-top: 10px;
  // margin-bottom: 10px;
  // height: 95px;
  padding: 10px 0px;
  justify-content: space-around;

  @include media-breakpoint-up(lg) {
    // height: 60px;

    padding: 22px ​0px;
  }

  .bars-icon {
    &:hover {
      opacity: 0.5;
    }
  }
  .bars-icon {
    color: black !important;
  }

  .cart-icon {
    position: relative;
    line-height: 100%;

    &:hover {
      opacity: 0.5;
    }
  }

  .fa {
    cursor: pointer;
    /*color: $theme-dark-gray;*/
    font-size: $font-size-x-huge !important;
  }

  .col-no-padding {
    @include media-breakpoint-down(sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .navbar {
    background-color: $theme-light-pink !important;
    justify-content: flex-end;
    padding: 0;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0.5rem;
      justify-content: center;
    }

    .cart-icon {
      .bag-icon {
        vertical-align: text-bottom;
      }
    }
  }

  .navbar-nav {
    flex-direction: row;
    align-self: self-end;
    @include media-breakpoint-up(md) {
      margin-left: 30px;
    }

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 13px;

      &.active {
        color: $font-hover-color !important;
      }
    }

    a,
    span {
      &:hover {
        color: $font-hover-color !important;
      }
    }

    .dropdown-toggle.nav-link {
      text-transform: capitalize;
    }

    .dropdown-menu {
      &.nav-brand-dropdown {
        padding: 0;
        @include media-breakpoint-down(sm) {
          left: -30px;
          min-width: 170px;
        }
      }
    }

    .nav-item {
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-right: 15px;
      }
    }
  }

  .brand {
    @include flex();
    flex-wrap: wrap;
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      justify-content: center;
    }

    .logo {
      margin: 0px;
      /*color: $font-custom-color !important;*/
      color: #da3e8e !important;
      font-family: $italic;
      @include media-breakpoint-up(md) {
        margin-left: 15px;
      }
    }
  }


  .cart-badge {
    border-radius: 100%;
    font-size: 0.6rem;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: -14px;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: $primary-bg;
    color: $white;
    @include flex();
    justify-content: center;
    align-items: center;
  }

  .header-links {
    @include flex();
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// mini brand
.mini-brand {
  min-width: 270px;
  @include media-breakpoint-up(md) {
    min-width: 500px;
  }

  .min-brand-title {
    border-bottom: $border-primary;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
}

.mini-brand-list {
  padding: 16px 20px;
  @include media-breakpoint-up(md) {
    padding: 20px 40px;
  }

  .mini-brand-block {
    @include flex();
    flex-wrap: wrap;
    margin-top: 12px;

    .brand-item {
      flex: 100%;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        flex: 50%;
      }

      .brand-link {
        position: relative;
        color: $font-custom-color !important;
        font-size: $font-size-large;
        font-weight: $font-weight-normal;

        &:hover {
          &:after {
            opacity: 1;
            -webkit-transform: translateY(2px);
            -moz-transform: translateY(2px);
            transform: translateY(2px);
          }
        }

        &:after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-bg;
          content: '';
          opacity: 0;
          -webkit-transition: opacity $layout-transition-speed,
            -webkit-transform $layout-transition-speed;
          -moz-transition: opacity $layout-transition-speed,
            -moz-transform $layout-transition-speed;
          transition: opacity $layout-transition-speed,
            transform $layout-transition-speed;
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          transform: translateY(10px);
        }
      }
    }
  }
}

.auth-links {
  display: flex;
  gap: 10px; /* Space between links */
}

.auth-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 13px;
}

.auth-link:hover {
  text-decoration: underline;
}

.navbar-nav {
  gap: 20px;
}

/*.cart-icon {
  @include icon($cart, 30px, 30px);
  background-size: 100%;
}*/

.header-social-item {
  li {
    @include media-breakpoint-down(sm) {
      margin: 0 0px !important;
    }
  }
}

.snapchat-icon-tpko {
  margin-left: -2px !important;
  width: 42px !important;
  height: 30px !important;
}

/*.react-autosuggest__container .react-autosuggest__input {
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #dfdfdf !important;
  border-radius: 50px !important;
  background: #f4f4f4 !important;
}*/

.search-icon {
  position: absolute;
  right: 16px;
  background: #da3e8e;
  padding: 13px 15px 8px 15px;
  border-radius: 0px 20px 20px 20px;
  display: flex;
  @include media-breakpoint-down(sm) {
    top: 8px !important;
  }
  @include media-breakpoint-down(xs) {
    top: 8px !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    top: 8px !important;
  }
  top: 0px;
}

.header-container {
  /*padding-top: 1.5em !important;*/
  @include media-breakpoint-down(sm) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.mini-currency {
  padding: 10px;
  background: #fff;
}

.mini-currency-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currency-item .col {
  padding: 5px 0px 5px 15px !important;
  background: #fff;
  display: flex;
}

.currency-item .col:hover {
  background: #e9ecef;
}

.usd-icon-img, .gbp-icon-img, .ngn-icon-img {
  background: $usd;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  width: 30px;
  height: 30px;
  display: flex;
}

.gbp-icon-img {
  background: $gbp;
}

.ngn-icon-img {
  background: $ngn;
}

.currency-link a {
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.currency_name_and_flag {
  align-items: center;
  position: relative;

  .usd-icon-img, .gbp-icon-img, .ngn-icon-img {
    margin-right: .5em;
  }
}

.currency-checkbox {
  padding: 0px !important;
  min-width: 60px !important;
  border: 0px !important;
  background-color: transparent !important;
}
.currency-checkbox:hover {
  background-color: #e9ecef !important;
}

.pr-new {
  max-width: fit-content !important;
  @include media-breakpoint-down(sm) {
    max-width: none !important;
  }
}

