// .homepage {
// }

.shop .order-lg-2 {
  max-width: 100%;
  padding: 0px 15px;
}

/*.row {
    /*margin-right: 0;*/
/*margin-left: 0;*/
/*}*/

.main .row-cols-12 {
  margin-top: 5%;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

/*.col {
    /*padding-left: 0px;*/
/*padding-right: 0px;*/
//}
.product-list .mb-md-0 {
  transition: all 0.3s ease;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

//.product-list .mb-md-0:hover {
/*@include media-breakpoint-up(lg) {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }*/
/*margin: 10%;*/
//}

.pagination {
  align-items: center;
  gap: 15px;
  margin-top: 5%;
}

.pagination .page-item.active .page-link {
  background-color: #da3e8e;
  border-radius: 5px !important;
  border: none;
  width: 32px;
  color: #000000 !important;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: auto;
  //background-color: black;
  color: #000000 !important;
  font-weight: 900;
}

.page-link {
  border-radius: 50% !important;
  color: #000000 !important;
  font-weight: 900 !important;
  border: none;
}


.header-social-item {
  text-align: right !important;
  margin-bottom: -10px !important;
}

.tpko {
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 30px !important;
  width: 30px !important;
  background-size: 100%;
}

.carousel_section {
  padding: 0px !important;
}

.main .carousel_row {
  padding: 0px !important;
}

.brand_shop_admin_container {
  @include media-breakpoint-down(sm) {
    margin-top: 35px !important;
  }
}

.main .container,
.header-info .container {
  @include media-breakpoint-down(sm) {
    padding: 0px !important;
  }
}

.header {
  .header-info {
    @include media-breakpoint-down(sm) {
      padding: 10px 25px !important;
    }
  }
}


// admin dashboard
.admin,
.customer {
  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(md) {}
}

// max width of container for application
.main .container {
  padding: 0px !important;
  overflow-x: hidden;
  background: $theme-fb-fb !important;

  // desktop
  @include media-breakpoint-up(lg) {
    max-width: 100% !important;
  }

  // tab 
  @include media-breakpoint-up(md) {
    max-width: 100% !important;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100% !important;
  }

}

.header .container {
  @include media-breakpoint-up(lg) {
    max-width: 100% !important;
  }

  // tab 
  @include media-breakpoint-up(md) {
    max-width: 100% !important;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100% !important;
  }
}

.top-header {
  .col-md-9 {
    @include media-breakpoint-up(md) {
      max-width: fit-content !important;
      padding: 0px 0px 0px 20px !important;
    }

    @include media-breakpoint-up(lg) {
      max-width: fit-content !important;
      padding: 0px 0px 0px 35px !important;
    }
  }

  .col-md-12 {
    @include media-breakpoint-up(md) {
      max-width: 30% !important;
    }

    @include media-breakpoint-up(lg) {
      max-width: 40% !important;
    }

    max-width: 100% !important;
  }

  .order-md-4 {
    @include media-breakpoint-up(md) {
      order: 1 !important;
    }
  }


}

.out_of_stock_homepage_button {
  /*background: rgb(0 0 0 / 10%) !important;*/
  background: #fff !important;
  border: none !important;
  box-shadow: none !important;

  @include media-breakpoint-down(sm) {
    width: fit-content !important;
  }
}

.out_of_stock_homepage_button span {
  color: red !important;
}

.add_to_cart_homepage_button {
  background: $primary-color !important;
  border: 0px !important;
  box-shadow: none !important;

  @include media-breakpoint-down(sm) {
    width: fit-content !important;
    padding: 3px 10px !important;
  }

  span {
    color: #fff !important;
    font-family: $font-family;
  }

  .btn-icon {
    filter: invert(0) !important;
  }
}


// admin panel sidebar

.admin .row .col-xl-3 {
  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  @include media-breakpoint-up(lg) {
    max-height: 95vh;
    overflow-y: scroll;
  }
}

.admin .row .col-xl-9 {
  overflow-y: scroll;

  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }

  /*@include media-breakpoint-up(lg) {
        max-height: 99vh;
    }*/
}

.main_class {
  @include media-breakpoint-up(lg) {
    margin-top: -4%;
  }
}

.main_class_two {
  @include media-breakpoint-up(lg) {
    margin-top: -5%;
  }
}

.home-carousel img {
  @include media-breakpoint-up(lg) {
    height: 660px !important;
  }
}

//slick customization
.slick-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-family: 'poppins';

  @include media-breakpoint-down(sm) {
    width: 30px !important;
    height: 30px !important;
  }
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before {
  font-size: 20px;
  content: '<';
  font-family: inherit;
}

.slick-next:before {
  content: '>';
  font-family: inherit;
}


// BEST SELLING STYLES

.homeCategories {
  display: flex;
  justify-content: center;
  padding: 0px 15px;
  position: relative;
  width: 100%;
  flex-direction: column-reverse;

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

.new_arrivals_view_all {
  display: flex;
  justify-self: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: 3em;
  }

  a {
    padding: 10px 20px;
    border: 2px solid $primary-color !important;
    margin-top: 20px;
    width: fit-content;
    border-radius: 0px;
  }
}

.our_collections_product_container {
  width: fit-content;
  margin: 1em 0em;

  .item-image-container {
    margin-bottom: 1em;
  }
}

//.new_arrivals .products-shop {
/*display: grid;*/
//}





.best_selling h2,
.new_arrivals h2,
.shop_categories h2 {
  font-family: $italic;
  font-size: 50px !important;
  text-align: center;
  /*text-decoration: 2px underline solid $primary-color;*/
  letter-spacing: 5px;
  margin-top: 60px;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
}

.best_selling h2 {
  margin-top: 18px;
}

.shop_categories,
.shop_categories .col {
  position: relative;
}

.patronage_category_container {
  /*background: rgba(218, 62, 142, 0.2);*/
  background: inherit;
}

.shop_categories,
.patronage_category_container {
  padding: 50px 100px;
  margin-top: 50px;


  @include media-breakpoint-down(md) {
    padding: 50px 0px;
  }

  h2 {
    margin-top: 5px !important;
  }
}


.homeCategories_flexwrap {
  /*display: flex;*/
  /*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 20px;
  transition: transform 0.3s ease-in-out;

  @include media-breakpoint-down(sm) {
    gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*flex-wrap: wrap;*/
  }
}

.shop_category_image {
  /*background-repeat: no-repeat !important;
    background-size: 90% !important;
    width: 100%;
    height: 50vh;*/
  height: 80vh;
  background-size: 50% !important;
  position: absolute;
  right: -65%;
  top: 50%;
  width: 100vw;
  z-index: 2;

  @include media-breakpoint-down(xs) {
    background-size: 100% !important;
    height: 300px;
  }

  @include media-breakpoint-up(sm) {
    background-size: 100% !important;
    height: 400px;
  }

  @include media-breakpoint-up(lg) {
    height: 80vh;
    background-size: 50% !important;
  }
}

.category_count {
  width: 100%;

  @include media-breakpoint-up(md) {
    min-width: 250px;
  }

  flex-shrink: 1;
  /*border: 5px solid rgb(218 62 142 / 10%) !important;*/
}

.homeCategories_flexwrap div {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  transform: scale(1);
}

.homeCategories_flexwrap div:hover {
  transform: scale(1.015);
}

.category_count a {
  display: flex;
  justify-content: center;
  /*border: 2px solid $primary-color;*/
  /*box-shadow: 5px 10px 10px 0px rgba(218, 62, 142, 0.2) !important;*/
  /*background: rgba(218, 62, 142, 0.2);*/
  background-color: $primary-bg;
  border: 1px solid #fff;
  padding: 5px 0px;
  border-radius: 0px;
  font-family: $font-family;
  font-size: 22px;
  color: #fff !important;

  @include media-breakpoint-down(sm) {}
}

.category-item {
  opacity: 0;
  transform: translateY(-50px) !important;
  transition: all 0.6s ease-out !important;
}

.category-item.fall-animation {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


.patronageCategory {
  flex-direction: row;
  text-align: left;
  position: relative;
  flex-direction: row-reverse;


  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .shop_category_image {
    position: relative;

    @include media-breakpoint-up(lg) {
      left: 10%;
    }
  }
}

.patronage_text_container {
  @include media-breakpoint-down(sm) {
    position: absolute;
    bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.patronage_message {
  font-size: 40px;
  font-weight: 900;
  width: 90%;

  @include media-breakpoint-down(md) {
    font-size: 25px;
    text-align: left;
  }

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    text-align: center;
    width: 90%;
  }
}

.patronage_button {
  background: black !important;
  border-radius: 0px !important;
  padding: 20px 40px !important;
  border: none !important;

  span {
    color: #fff;
  }
}

.homepage_category_h2_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;

  span {
    border-bottom: 3px solid black;
    width: 100px;
    display: block;
    margin-top: -15px;
  }
}


// maintenance mode
.maintenance_one_logo,
.maintenance_two_logo {
  @include icon($maintenance_one_img);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  width: 100px;
  display: inline-flex;
  margin-right: 10px;
}

.maintenance_two_logo {
  @include icon($maintenance_two_img);
}