.vitamin-c,
.face-toner,
.facial-wash {
  .ingredient_display_right {
    .ingredient-arrow {
      width: 120px;
      height: auto;
      align-self: flex-start !important;
    }
  }
}

.ingredients {

  .ingredients_container {

    .vitamin-c,
    .facial-wash,
    .face-toner,
    .body-soap {
      border-radius: 10px;
      margin-left: var(--pdl);
      position: relative;
      width: 600px;
      height: 100%;

      @include media-breakpoint-up(md) {
        width: 680px;
        height: 100%;
      }

      @include media-breakpoint-up(lg) {
        width: 1057px;
        height: 768px;
      }

      .ingredients_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 600px;
        padding: 20px;

        @include media-breakpoint-up(md) {
          padding: 40px;
          width: 680px;
        }

        @include media-breakpoint-up(lg) {
          width: 1057px;
          height: 768px;
        }

        .usage {
          text-wrap: auto;
          padding: 20px 0 0 0;
        }

        .batch {
          padding: 0 0 50px 0;
        }

        img {
          width: auto;
          object-fit: cover;
          z-index: 10;

          @include media-breakpoint-up(md) {
            width: auto;
          }

          @include media-breakpoint-up(lg) {
            width: auto;
            height: auto;
          }
        }
      }

      .ingredients_and_arrows {
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        text-align: left;
        align-items: center;
        justify-self: center;
        height: 80%;
        padding: 40px 40px 40px 40px;
        width: 100%;

        @include media-breakpoint-up(md) {
          top: 5%;
          height: 70%;
          padding: 40px 40px 40px 40px;
        }

        @include media-breakpoint-up(lg) {
          top: 0;
          height: 85%;
          padding: 40px 40px 40px 40px;
        }

        .ingredient_display_right {
          align-items: flex-end;
          width: 100% !important;

          .ingredient-name {
            text-align: right !important;
            width: 100%;

            @include media-breakpoint-up(md) {
              width: 150px !important;
            }
          }

          .ingredient-desc {
            width: 100px;
            text-align: right !important;
          }
        }

        .ingredient_display {
          width: 100%;
          text-wrap: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .ingredient-name {
            font-weight: 900;
            text-align: left;
            width: 100%;

            @include media-breakpoint-up(md) {
              width: 150px;
              font-size: 18px !important;
            }

          }

          .ingredient-desc {
            font-size: 8px;
            width: 100px !important;

            @include media-breakpoint-up(md) {
              width: 60% !important;
              font-size: 12px !important;
            }
          }

          .ingredient-arrow {
            width: 120px;
            height: auto;
            align-self: flex-end;
          }
        }
      }
    }

    .vitamin-c,
    .facial-wash,
    .facial-wash,
    .face-toner,
    .body-soap {
      border-radius: 10px;

      h2 {
        font-size: 18px;

        @include media-breakpoint-up(md) {
          font-size: 24px;
        }
      }

      h3 {
        font-size: 12px;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
      }
    }

    .body-soap {
      border-radius: 10px;
      margin-right: var(--pdr);
    }
  }
}

.body-soap {
  .ingredients_details {
    img {
      @include media-breakpoint-up(lg) {
        width: 410px !important;
      }
    }
  }

  .ingredient_display {
    .ingredient-name {
    }

    .ingredient-desc {
      width: 50% !important;
    }

    .ingredient-arrow {
      width: 120px !important;
      height: auto;
      align-self: center !important;
    }
  }

  .ingredient_display_right {
    .ingredient-name {
    }

    .ingredient-desc {
    }

    .ingredient-arrow {
      width: 180px !important;
      height: 60px !important;
      align-self: center !important;
    }
  }
}