.fade-slider .slick-initialized .slick-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: inherit;
}

@media (max-width: 576px) {
  .fade-slider .slick-initialized .slick-arrow {
    display: none !important;
  }
}

.fade-slider .slick-initialized .slick-prev {
  left: 10px;
}

.fade-slider .slick-initialized .slick-next {
  right: 10px;
}

.fade-slider .slick-initialized .slick-prev:before {
  font-size: 20px;
  content: '<';
  font-family: inherit;
}

.fade-slider .slick-initialized .slick-next:before {
  content: '>';
  font-family: inherit;
}

.fade-slider .slick-initialized img {
  height: 50em !important;
}

@media (max-width: 576px) {
  .fade-slider .slick-initialized img {
    height: 30em !important;
  }
}

.fade-slider .slick-initialized .slick-dots li {
  top: -50px;
}
